.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    text-align: center;
    flex-direction: column;
}

.hero-container h1 {
    margin-top: 8rem;
}

.hero-container span {
    margin-top: 0.5rem;
}

.hero-container Button {
    margin-top: 50px;
}